<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wust.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.wust.model.User" >
    <constructor >
      <idArg column="userid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sex" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userimage" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phonenum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="e_mail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="wallet" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="my_collection" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    userid, username, sex, userimage, phonenum, e_mail, address, wallet, my_collection, 
    password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where userid = #{userid,jdbcType=INTEGER}
  </select>

  <select id="selectAllUser" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from user
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wust.model.User" >
    insert into user (userid, username, sex, 
      userimage, phonenum, e_mail, 
      address, wallet, my_collection, 
      password)
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{userimage,jdbcType=VARCHAR}, #{phonenum,jdbcType=VARCHAR}, #{eMail,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{wallet,jdbcType=INTEGER}, #{myCollection,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wust.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="userimage != null" >
        userimage,
      </if>
      <if test="phonenum != null" >
        phonenum,
      </if>
      <if test="eMail != null" >
        e_mail,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="wallet != null" >
        wallet,
      </if>
      <if test="myCollection != null" >
        my_collection,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userimage != null" >
        #{userimage,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null" >
        #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="wallet != null" >
        #{wallet,jdbcType=INTEGER},
      </if>
      <if test="myCollection != null" >
        #{myCollection,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wust.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userimage != null" >
        userimage = #{userimage,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null" >
        phonenum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="eMail != null" >
        e_mail = #{eMail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="wallet != null" >
        wallet = #{wallet,jdbcType=INTEGER},
      </if>
      <if test="myCollection != null" >
        my_collection = #{myCollection,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wust.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      userimage = #{userimage,jdbcType=VARCHAR},
      phonenum = #{phonenum,jdbcType=VARCHAR},
      e_mail = #{eMail,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      wallet = #{wallet,jdbcType=INTEGER},
      my_collection = #{myCollection,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
</mapper>